<!-- Extendemos este template de nuestro archivo templates/base.html -->
{% extends "base.html" %}

<!-- Definimos el contenido del head en el bloque head_content -->
{% block head_content %}
<title>Platzigram feed</title>
{% endblock %}

<!-- Desplegamos el contenido de nuestro template en el bloque container definido del archivo que se extiende -->
{% block container %}
<div class="container">
  <div class="row">

      {% for post in posts %}
        {% include "posts/post_card.html" %}
      {% endfor %}
  </div>
</div>

{% include "pagination.html" %}

{% endblock %}
